services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: exploit-backend
    ports:
      - 5001:5001
    env_file: .env
    volumes:
      - backend-data:/app
    restart: unless-stopped
    networks:
      - frontend-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: exploit-frontend
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    env_file: .env
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - frontend-network

volumes:
  backend-data:

networks:
  frontend-network:
    driver: bridge
